@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), 
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'); 
}

html{
  box-sizing: border-box;
}
*, *::after *::before{
  box-sizing: inherit;
} 

body {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
color: white;
/* line-height: 1.2; */
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.header_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header_logo_link{
  flex-direction: row;
}
.header_logo-pic{
  padding-right: 15px;
}
.logo_text{
  font-family: "Roboto";
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}
.header_list{
  display: flex;
  flex-wrap: wrap;
}
.header_link{
  display: flex;
  flex-wrap: nowrap;
  font-family: "Open_Sans";
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  color: #F7F7F7;
}
.header_link1{
  font-size: 25px;
  margin-right: 61px;
}
.header_link2{
  font-size: 27px;
  margin-right: 64px;
  }
.header_link3{
  margin-top: 16px;
  margin-right: 68px;
}
.header_link4{
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  width: 120px;
  text-align: center;
  border: 2px solid #CD6326;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 4px;
}
.sing-in{

}

.header_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}


.intro{
  font-family: "Roboto";
  height: 580px;
  background-image: url(../assets/Rectangle.png);
  top: -1px;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 200px;
}

.intro_title{
  font-family: "Open Sans";
font-size: 48px;
line-height: 72px;
letter-spacing: 2px;
color: #CD6326;
margin-bottom: 51px;
}
.intro_subtitle{
  width: 274px;
  font-size: 19px;
line-height: 27px;
color: #F7F7F7;
margin-bottom: 50px;
}

.donate_button{
padding: 16px 42px;
font-size: 23px;
line-height: 27px;
text-align: center;
background: #CD6326;
color: #F7F7F7;
border-radius: 5px;
border: 0;
}
.button:hover{
  background: #E39128;;
}
.button:active{
  background: #8F5613;
}



.articles{
  font-family: "Open Sans";
  height: 1366px;
  text-align: center;
  background: #CCCCCC;
}

.articles_title{
padding-top: 120px;
font-size: 48px;
line-height: 72px;
color: #333333;
margin-bottom: 20px;
}
.articles_subtitle{
font-size: 24px;
line-height: 36px;
color: #666666;
margin-bottom: 120px;
}
.articles_vector{
  position: relative;
  top: 162px;
}
.articles_vector:hover{
  /* background: #E39128; */
  opacity: .45;
}
.articles_vector1:active{
  left: -40px;
}
.articles_vector2:active{
  left: 40px;
}
.articles_card{
  position: relative;
}
.articles_cards{
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  justify-content: center;
  color: #F7F7F7;
}
/* .articles_card-pic{
 position: relative;
} */
.articles_card-title1, .articles_card-title2, .articles_card-title3, .articles_card-caption1, .articles_card-caption2, .articles_card-caption3{
  position: absolute;
  top: 246px;
  left: 126px;
  font-size: 22px;
  line-height: 36px;
}
.articles_card-caption1, .articles_card-caption2, .articles_card-caption3{
  top: 292px;
  left: 60px;
  font-size: 17px;
line-height: 27px;
}
.articles_card-title2{
  left: 111px;
}
.articles_card-title3{
  left: 130px;
}
.articles_card-caption2{
  left: 76px;
}
.articles_card-caption3{
  left: 90px;
}

.articles_latest {
  margin-bottom: 239px;
}

.notifield-title{
  font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 40px;
color: #333333;
  margin-bottom: 59px;
}
.search-form{
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}
.send_button{
  width: 120px;
  height: 60px;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  background: #CD6326;
  color: #F7F7F7;
  border-radius: 0px 5px 5px 0px ;
  border: 0;
  border-right: none;
  border-color: #666666;;
  }
  .email{
    width: 510px;
    height: 56px;
    padding: 0 15px;
    background: #CCCCCC;
    font-family: "Roboto";
  font-size: 23px;
  line-height: 27px;
  align-items: center;

/* font-grey */

color: #666666;
  }

  .footer{
    background-position: 50% 50%;
    background-size: cover;
    height: 360px;
    background-image: url(../assets/footer-pic.jpg);
 
  }
   .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 360px;
    align-content: center;
  }

  .footer_list{
    display: flex;
    flex-wrap: wrap;
 
  }
  .footer_icon{
    display: flex;
    flex-wrap: wrap;
  margin-top: 3px;
  }
  .footer_link{
    display: flex;
    flex-wrap: wrap;
    font-family: "Open_Sans";
    text-decoration: none;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
  }
  .footer_link1{
    font-size: 26px;
    margin-right: 86px;
  }
  .footer_link2{
    font-size: 26px;
    margin-right: 85px;
  }
 .footer_link3{
  font-size: 27px;
  } 
  .facebook{
    background-image: url(../assets/SVG/facebook.svg);
    margin-right: 27px;
  }
  .instagram{
    background-image: url(../assets/SVG/instagram.svg);
    margin-right: 26px;
  }
  .painterest{
    background-image: url(../assets/SVG/painterest.svg);
    margin-right: 27px;
  }
  .telegram{
    background-image: url(../assets/SVG/telegram.svg);
  }
  .footer_address{
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }